.contentWrapper {
  min-height: 50vh;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 0 20px 0;
}

.pageTitle {
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
  margin: 0;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.searchWrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: auto;
}

.searchInput {
  width: 500px;
  max-width: 500px;
  padding: 10px 10px 10px 40px;
  border: 1px solid #000;
  border-radius: 5px;
}

.searchIcon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
}

.scrollableTable {
  height: auto;
  overflow-y: auto;
  width: 100%;
  margin-top: 20px;
}

.table {
  border: 1px solid rgb(178, 178, 178);
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  table-layout: auto;
}

.table thead {
  position: sticky;
  background-color: #2f9e41;
}

.table thead th {
  padding: 16px;
  border-bottom: 1px solid rgb(178, 178, 178);
  text-align: left;
  color: white;
}

.table th:nth-child(1) { /* Curso */
  width: 50%;
}

.table th:nth-child(2) { /* Coordenador */
  width: 40%;
}

.table th:nth-child(3) { /* Ações */
  width: 10%;
  min-width: 120px;
}

.table td, .table th {
  border: 1px solid rgb(178, 178, 178);
  padding: 8px;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tbody tr:hover {
  background-color: #ddd;
}

.addButtonContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.addButton {
  background: #2f9e41;
  border: none;
  border-radius: 4px;
  padding: 10px; /* Tamanho original */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px; /* Largura fixa para manter o círculo */
  height: 50px; /* Altura fixa para manter o círculo */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.addButton:hover {
  transform: scale(1.05);
  color: white;
}

.addButton:active {
  transform: translateY(0);
  box-shadow: none;
}

.addButton:hover {
  transform: scale(1.05);
}

.actions {
  display: flex;
  gap: 0.8rem;
  justify-content: start;
}

.actionButton {
  background: none;
  border: none;
  cursor: pointer;
  color: #2f9e41;
  padding: 0.3rem;
  display: inline-flex;
  align-items: center;
  transition: color 0.3s;
}

.actionButton:hover {
  color: #268a34;
}

.editButton {
  background: none;
  border: none;
  cursor: pointer;
  color: #051408;
  padding: 0.3rem;
  display: inline-flex;
  align-items: center;
  transition: color 0.3s;
}

.editButton:hover {
  color: #031404;
}